* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

main {
  padding: 3rem 1rem;
}

section {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section p {
  font-size: 1.25rem;
}

.button {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
  font-weight: bold;
}

.button:hover {
  background: #666;
}
